/* Navbar.css */

.navbar {
    background-color: lightcoral;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-title {
    color: white;
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    margin: 0 1em;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
